# Environments
venv/
__pycache__/
*.pyc
*.pyd
*.dll


# Medical imaging data
*.dcm
Task09_Spleen/
patient_*/
nifti_output/
imagesTr/
imagesTs/
labelsTr/

# Data files
*.csv
*.xlsx

# Jupyter
.ipynb_checkpoints/

# Ignore the virtual environment
.venv/
venv/
env/

# Ignore python cache files
__pycache__/
*.pyc

# Ignore raw dataset files (too big for GitHub usually)
AI_Dysphagia/Data/
AI_Dysphagia/Processed/

# Ignore OS files
.DS_Store
Thumbs.db